.selector {
    min-height: 40px;
    border-radius: var(--space-xs);
    border: 1px solid var(--control-default-bg-border);
    display: flex;
    position: relative;
}

.selector._error {
    color: var(--bg-alert);
}

.selector__inner {
    display: flex;
    align-items: center;
    overflow: hidden;

    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.selector__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: var(--space-xs) var(--space-s);
    gap: 2px;
}

.selector__dropdown {
    flex-shrink: 0;
    min-height: var(--space-xl);
    width: var(--space-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--control-default-bg-border);
}

.selector__dropdown svg {
    fill: var(--control-default-typo-placeholder);
}

.selector__reset {
    width: var(--space-xl);
    height: var(--space-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector__reset svg {
    fill: var(--control-default-typo-placeholder);
}

.selector__input {
    width: fit-content;
}

.selector__dropdown-content {
    width: 100%;
    height: 150px;
    background-color: var(--white);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 5;
    border-radius: var(--space-xs);
    border: 1px solid var(--control-default-bg-border);
    overflow: auto;
    display: none;
}

.selector__dropdown-content_opened {
    display: block;
}

.selector__dropdown-content__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-s);
}

.selector-dropdown-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.selector-dropdown-checkbox:has(.selector-dropdown-checkbox__input:checked)
    .selector-dropdown-checkbox__check {
    background-color: var(--control-primary-bg);
    border-color: var(--control-primary-bg);
}

.selector-dropdown-checkbox:has(.selector-dropdown-checkbox__input:checked)
    .selector-dropdown-checkbox__check::before {
    opacity: 1;
}

.selector-dropdown-checkbox__content {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.selector-dropdown-checkbox__avatar {
    width: var(--space-l);
    height: var(--space-l);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
}

.selector-dropdown-checkbox__work {
    font-size: 10px;
    line-height: 1.1;
    color: var(--typo-secondary);
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.selector-dropdown-checkbox__check {
    width: var(--space-m);
    height: var(--space-m);
    position: relative;
    background-color: transparent;
    margin-right: var(--space-s);
    border-radius: 2px;
    border: 1px solid var(--control-default-bg-border);
}

.selector-dropdown-checkbox__check::before {
    border-bottom: 2px solid var(--white);
    border-left: 2px solid var(--white);
    box-sizing: border-box;
    content: "";
    height: calc(var(--space-m) * 0.35);
    left: calc(var(--space-m) / 5 - 1.2px);
    opacity: 1;
    position: absolute;
    top: calc(var(--space-m) / 2 - 0.5px);
    transition: opacity 0.15s;
    width: calc(var(--space-m) * 0.6);
    transform: rotate(-45deg) translate(-5%, -5%);
    transform-origin: 0 0;
}
